/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #FFFFFF;
    font-family: Lato;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}
